<div class="col-md-3 mt-3">
    <mdb-select [options]="countries" (selected)="countryChanged($event)" placeholder="Choose country" class="colorful-select dropdown-primary"></mdb-select>
    <label>Country</label>
</div>
<div class="col-md-3 mt-3">
    <mdb-select [options]="monetaryPeriods" [disabled]="isPeriodsDisabled" (selected)="monetaryPeriodChanged($event)" placeholder="Choose monetary period" class="colorful-select dropdown-primary"></mdb-select>
    <label>Monetary period</label>
</div>
