<nav class="my-1">
    <ul class="pagination pagination-circle pg-blue mb-0">

        <!--First-->
        <li class="page-item" [ngClass]="{'disabled': isFirst()}"><a class="page-link" mdbWavesEffect (click)="pageNumberChanged(1)">First</a></li>

        <!--Arrow left-->
        <li class="page-item" [ngClass]="{'disabled': !hasPrevious()}" (click)="pageNumberChanged(pageNumber - 1)">
            <a class="page-link" mdbWavesEffect aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <!--Numbers-->
        <li class="page-item" *ngFor="let item of getPageNumbers(); let i = index;" [ngClass]="{'active': pageNumber === (i + 1)}"><a class="page-link" (click)="pageNumberChanged(i + 1)" mdbWavesEffect>{{ i + 1}}</a></li>

        <!--Arrow right-->
        <li class="page-item" [ngClass]="{'disabled': !hasNext()}">
            <a class="page-link" mdbWavesEffect aria-label="Next" (click)="pageNumberChanged(pageNumber + 1)">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <!--First-->
        <li class="page-item" [ngClass]="{'disabled': isLast()}"><a class="page-link" (click)="pageNumberChanged(totalPages)">Last</a></li>

    </ul>
</nav>